In [1]:
from pyspark.sql import SparkSession
ss = SparkSession.builder.getOrCreate()

In [2]:
from pysparkling import *
hc = H2OContext.getOrCreate(ss)

Connecting to H2O server at http://192.168.1.13:54321 ... successful.

--------------------------  ------------------------------------------------------------------
H2O cluster uptime:         11 secs
H2O cluster timezone:       America/Los_Angeles
H2O data parsing timezone:  UTC
H2O cluster version:        3.28.0.1
H2O cluster version age:    27 days
H2O cluster name:           sparkling-water-dwoodbridge_local-1578958731932
H2O cluster total nodes:    1
H2O cluster free memory:    511.7 Mb
H2O cluster total cores:    8
H2O cluster allowed cores:  8
H2O cluster status:         accepting new members, healthy
H2O connection url:         http://192.168.1.13:54321
H2O connection proxy:
H2O internal security:      False
H2O API Extensions:         XGBoost, Algos, Amazon S3, AutoML, Core V3, TargetEncoder, Core V4
Python version:             3.7.4 final
--------------------------  ------------------------------------------------------------------

Sparkling Water Context:
 * Sparkling Water Version: 3.28.0.1-1-2.4
 * H2O name: sparkling-water-dwoodbridge_local-1578958731932
 * cluster size: 1
 * list of used nodes:
  (executorId, host, port)
  ------------------------
  (driver,192.168.1.13,54321)
  ------------------------

  Open H2O Flow in browser: http://192.168.1.13:54321 (CMD + click in Mac OSX)

## Initialize H2OContext

In [3]:
hc

Sparkling Water Context:
 * Sparkling Water Version: 3.28.0.1-1-2.4
 * H2O name: sparkling-water-dwoodbridge_local-1578958731932
 * cluster size: 1
 * list of used nodes:
  (executorId, host, port)
  ------------------------
  (driver,192.168.1.13,54321)
  ------------------------

  Open H2O Flow in browser: http://192.168.1.13:54321 (CMD + click in Mac OSX)

## Create H2ODataFrame

### 1. Create from RDD

In [4]:
from pyspark import SparkContext
sc = SparkContext.getOrCreate()

def toDoubleSafe(v):
    try:
        return float(v)
    except ValueError:
        return str(v) #if it is not a float type return as a string.


#load and convert the data
census_raw = sc.textFile("../Data/adult.raw", 4).map(lambda x:  x.split(", "))
census_raw = census_raw.map(lambda row:  [toDoubleSafe(x) for x in row])

In [5]:
census_h2o = hc.as_h2o_frame(census_raw, "census")

In [6]:
census_h2o.set_names(["age", "capital_gain", "capital_loss", "education", "fnlwgt", "hours_per_week", "income", "marital_status", "native_country", "occupation", "race", "relationship", "sex", "workclass"])

age,capital_gain,capital_loss,education,fnlwgt,hours_per_week,income,marital_status,native_country,occupation,race,relationship,sex,workclass
39,State-gov,77516,Bachelors,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
50,Self-emp-not-inc,83311,Bachelors,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
38,Private,215646,HS-grad,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
53,Private,234721,11th,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
28,Private,338409,Bachelors,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K
37,Private,284582,Masters,Married-civ-spouse,Exec-managerial,Wife,White,Female,0,0,40,United-States,<=50K
49,Private,160187,9th,Married-spouse-absent,Other-service,Not-in-family,Black,Female,0,0,16,Jamaica,<=50K
52,Self-emp-not-inc,209642,HS-grad,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,45,United-States,>50K
31,Private,45781,Masters,Never-married,Prof-specialty,Not-in-family,White,Female,14084,0,50,United-States,>50K
42,Private,159449,Bachelors,Married-civ-spouse,Exec-managerial,Husband,White,Male,5178,0,40,United-States,>50K

## H2OFrame Description

In [7]:
census_h2o.summary()

,age,capital_gain,capital_loss,education,fnlwgt,hours_per_week,income,marital_status,native_country,occupation,race,relationship,sex,workclass
type,int,string,int,string,string,string,string,string,string,int,int,int,string,string
mins,17.0,NaN,12285.0,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,1.0,NaN,NaN
mean,38.64358543876177,NaN,189664.13459727296,NaN,NaN,NaN,NaN,NaN,NaN,1079.0676262233324,87.50231358257236,40.42238237582413,NaN,NaN
maxs,90.0,NaN,1490400.0,NaN,NaN,NaN,NaN,NaN,NaN,99999.0,4356.0,99.0,NaN,NaN
sigma,13.710509934443552,NaN,105604.02542315725,NaN,NaN,NaN,NaN,NaN,NaN,7452.019057655393,403.00455212435895,12.391444024252296,NaN,NaN
zeros,0,0,0,0,0,0,0,0,0,44807,46560,0,0,0
missing,0,0,0,0,0,0,0,0,0,0,0,0,0,0
0,39.0,State-gov,77516.0,Bachelors,Never-married,Adm-clerical,Not-in-family,White,Male,2174.0,0.0,40.0,United-States,<=50K
1,50.0,Self-emp-not-inc,83311.0,Bachelors,Married-civ-spouse,Exec-managerial,Husband,White,Male,0.0,0.0,13.0,United-States,<=50K
2,38.0,Private,215646.0,HS-grad,Divorced,Handlers-cleaners,Not-in-family,White,Male,0.0,0.0,40.0,United-States,<=50K
3,53.0,Private,234721.0,11th,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0.0,0.0,40.0,United-States,<=50K
4,28.0,Private,338409.0,Bachelors,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0.0,0.0,40.0,Cuba,<=50K
5,37.0,Private,284582.0,Masters,Married-civ-spouse,Exec-managerial,Wife,White,Female,0.0,0.0,40.0,United-States,<=50K
6,49.0,Private,160187.0,9th,Married-spouse-absent,Other-service,Not-in-family,Black,Female,0.0,0.0,16.0,Jamaica,<=50K
7,52.0,Self-emp-not-inc,209642.0,HS-grad,Married-civ-spouse,Exec-managerial,Husband,White,Male,0.0,0.0,45.0,United-States,>50K
8,31.0,Private,45781.0,Masters,Never-married,Prof-specialty,Not-in-family,White,Female,14084.0,0.0,50.0,United-States,>50K
9,42.0,Private,159449.0,Bachelors,Married-civ-spouse,Exec-managerial,Husband,White,Male,5178.0,0.0,40.0,United-States,>50K

In [8]:
census_h2o.describe()

Rows:48842
Cols:14

,age,capital_gain,capital_loss,education,fnlwgt,hours_per_week,income,marital_status,native_country,occupation,race,relationship,sex,workclass
type,int,string,int,string,string,string,string,string,string,int,int,int,string,string
mins,17.0,NaN,12285.0,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,1.0,NaN,NaN
mean,38.64358543876177,NaN,189664.13459727296,NaN,NaN,NaN,NaN,NaN,NaN,1079.0676262233324,87.50231358257236,40.42238237582413,NaN,NaN
maxs,90.0,NaN,1490400.0,NaN,NaN,NaN,NaN,NaN,NaN,99999.0,4356.0,99.0,NaN,NaN
sigma,13.710509934443552,NaN,105604.02542315725,NaN,NaN,NaN,NaN,NaN,NaN,7452.019057655393,403.00455212435895,12.391444024252296,NaN,NaN
zeros,0,0,0,0,0,0,0,0,0,44807,46560,0,0,0
missing,0,0,0,0,0,0,0,0,0,0,0,0,0,0
0,39.0,State-gov,77516.0,Bachelors,Never-married,Adm-clerical,Not-in-family,White,Male,2174.0,0.0,40.0,United-States,<=50K
1,50.0,Self-emp-not-inc,83311.0,Bachelors,Married-civ-spouse,Exec-managerial,Husband,White,Male,0.0,0.0,13.0,United-States,<=50K
2,38.0,Private,215646.0,HS-grad,Divorced,Handlers-cleaners,Not-in-family,White,Male,0.0,0.0,40.0,United-States,<=50K
3,53.0,Private,234721.0,11th,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0.0,0.0,40.0,United-States,<=50K
4,28.0,Private,338409.0,Bachelors,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0.0,0.0,40.0,Cuba,<=50K
5,37.0,Private,284582.0,Masters,Married-civ-spouse,Exec-managerial,Wife,White,Female,0.0,0.0,40.0,United-States,<=50K
6,49.0,Private,160187.0,9th,Married-spouse-absent,Other-service,Not-in-family,Black,Female,0.0,0.0,16.0,Jamaica,<=50K
7,52.0,Self-emp-not-inc,209642.0,HS-grad,Married-civ-spouse,Exec-managerial,Husband,White,Male,0.0,0.0,45.0,United-States,>50K
8,31.0,Private,45781.0,Masters,Never-married,Prof-specialty,Not-in-family,White,Female,14084.0,0.0,50.0,United-States,>50K
9,42.0,Private,159449.0,Bachelors,Married-civ-spouse,Exec-managerial,Husband,White,Male,5178.0,0.0,40.0,United-States,>50K

In [9]:
census_h2o.shape

(48842, 14)

In [10]:
census_h2o.columns

['age',
 'capital_gain',
 'capital_loss',
 'education',
 'fnlwgt',
 'hours_per_week',
 'income',
 'marital_status',
 'native_country',
 'occupation',
 'race',
 'relationship',
 'sex',
 'workclass']

In [11]:
census_h2o.types

{'age': 'int',
 'capital_gain': 'string',
 'capital_loss': 'int',
 'education': 'string',
 'fnlwgt': 'string',
 'hours_per_week': 'string',
 'income': 'string',
 'marital_status': 'string',
 'native_country': 'string',
 'occupation': 'int',
 'race': 'int',
 'relationship': 'int',
 'sex': 'string',
 'workclass': 'string'}

In [12]:
census_h2o.columns_by_type(coltype='numeric')

[0.0, 2.0, 9.0, 10.0, 11.0]

In [13]:
census_h2o.columns_by_type(coltype='string')

[1.0, 3.0, 4.0, 5.0, 6.0, 7.0, 8.0, 12.0, 13.0]

## Convert H2OFrame to Spark DataFrame, RDD

In [14]:
census_df = hc.as_spark_frame(census_h2o)

TypeError: as_spark_frame() missing 1 required positional argument: 'h2o_frame'

In [ ]:
census_df.show(5)

In [ ]:
census_rdd = census_df.rdd

In [ ]:
census_rdd.take(5)

### 2. Create from DataFrame

In [ ]:
from pyspark.sql.types import *
adultschema = StructType([
    StructField("age",DoubleType(),True),
    StructField("capital_gain",DoubleType(),True),
    StructField("capital_loss",DoubleType(),True),
    StructField("education",StringType(),True),
    StructField("fnlwgt",DoubleType(),True),
    StructField("hours_per_week",DoubleType(),True),
    StructField("income",StringType(),True),
    StructField("marital_status",StringType(),True),
    StructField("native_country",StringType(),True),
    StructField("occupation",StringType(),True),
    StructField("race",StringType(),True),
    StructField("relationship",StringType(),True),
    StructField("sex",StringType(),True),
    StructField("workclass",StringType(),True),
])

# Create a dataframe.
from pyspark.sql import Row
columns = ["age", "workclass", "fnlwgt", "education", "marital_status",
           "occupation", "relationship", "race", "sex", "capital_gain", "capital_loss",
           "hours_per_week", "native_country", "income"]
dfraw = ss.createDataFrame(census_raw.map(lambda row: Row(**{x[0]: x[1] for x in zip(columns, row)})), \
                           adultschema)
dfraw.show(5)

In [ ]:
adult_h2o = hc.as_h2o_frame(dfraw, "adult")

In [ ]:
adult_h2o.summary()

### 3. Create from File

In [ ]:
import h2o
adult_h2o = h2o.import_file(path="../Data/adult.raw")

In [ ]:
adult_h2o.summary()

In [ ]:
adult_h2o.set_names(["age", "capital_gain", "capital_loss", "education", "fnlwgt", "hours_per_week", "income", "marital_status", "native_country", "occupation", "race", "relationship", "sex", "workclass"])

In [ ]:
adult_h2o.summary()

In [ ]:
adult_h2o